<header id="section-header" class="header moto-section" data-widget="section" data-container="section">
  <div data-moto-sticky="{ }" data-css-name="moto-container_header_56c1e50a" class="moto-widget moto-widget-container moto-container_header_56c1e50a"
    data-widget="container" data-container="container">
    <div class="moto-widget moto-widget-spacer moto-preset-default                          moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
      data-widget="spacer" data-preset="default" data-spacing="saaa">
      <div class="moto-widget-spacer-block" style="height: 9px;"></div>
    </div>
    <div data-css-name="moto-container_header_56c6bfc7" class="moto-widget moto-widget-container moto-container_header_56c6bfc7"
      data-widget="container" data-container="container">
      <div data-grid-type="xs" class="moto-widget moto-widget-row row-fixed" data-widget="row">
        <div class="container-fluid">
          <div class="row">
            <div class="moto-cell col-xs-3" data-container="container">
              <img src="../img/neo_logo_2.jpeg" class="neo-modus_main-logo" alt="">
            </div>
            <div class="moto-cell col-xs-9" data-container="container">
              <div data-widget-id="wid__menu__5aa2dea75fb9b" class="moto-widget moto-widget-menu moto-preset-default moto-align-right moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                data-preset="default" data-widget="menu">
                <a href="#" class="moto-widget-menu-toggle-btn">
                  <i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i>
                </a>
                <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                  <li class="moto-widget-menu-item">
                    <a href="/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">HOME</a>
                  </li>
                  <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                    <a href="/#ABOUT" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-widget-menu-link-active moto-link">ABOUT
                      <span class="fa moto-widget-menu-link-arrow"></span>
                    </a>
                    <ul class="moto-widget-menu-sublist">
                      <li class="moto-widget-menu-item">
                        <a href="/news/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">News</a>
                      </li>
                      <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                        <a href="/archive/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Archive
                          <span class="fa moto-widget-menu-link-arrow"></span>
                        </a>
                        <ul class="moto-widget-menu-sublist">
                          <li class="moto-widget-menu-item">
                            <a href="/faqs/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">FAQs</a>
                          </li>
                          <li class="moto-widget-menu-item">
                            <a href="/privacy-policy/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">Privacy Policy</a>
                          </li>
                        </ul>

                      </li>
                      <li class="moto-widget-menu-item">
                        <a href="/history/" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">History</a>
                      </li>
                    </ul>

                  </li>
                  <li class="moto-widget-menu-item">
                    <a href="/#SERVICES" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">SERVICES</a>
                  </li>
                  <li class="moto-widget-menu-item">
                    <a href="/#GALLERY" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">GALLERY</a>
                  </li>
                  <li class="moto-widget-menu-item">
                    <a href="/#CONTACTS" data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">CONTACTS</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="moto-widget moto-widget-spacer moto-preset-default                          moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
      data-widget="spacer" data-preset="default" data-spacing="saaa">
      <div class="moto-widget-spacer-block" style="height: 10px;"></div>
    </div>
  </div>
</header>