<div data-css-name="moto-container_content_56c61eed" class="moto-widget moto-widget-container moto-container_content_56c61eed"
  data-widget="container" data-container="container">
  <div class="moto-widget moto-widget-row" data-widget="row">
    <a name="GALLERY" class="moto-anchor"></a>
    <div class="container-fluid">
      <div class="row">
        <div class="moto-cell col-sm-12" data-container="container">
          <div class="moto-widget moto-widget-spacer moto-preset-default                                    moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
            data-widget="spacer" data-preset="default" data-spacing="sasa">
            <div class="moto-widget-spacer-block" style="height: 40px;"></div>
          </div>
          <div class="moto-widget moto-widget-text moto-preset-default                                    moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
            data-widget="text" data-preset="default" data-spacing="saaa">
            <div class="moto-widget-text-content moto-widget-text-editable">
              <p class="moto-text_system_4" style="text-align: center;">GALLERY
                <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moto-widget moto-widget-row row-fixed" data-widget="row">
    <div class="container-fluid">
      <div class="row">
        <div class="moto-cell col-sm-12" data-container="container">
          <div data-widget-id="wid__grid_gallery__5aa2dea7626a2" class="moto-widget moto-widget-grid-gallery moto-preset-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  "
            data-widget="grid_gallery" data-preset="3" data-spacing="aaaa">
            <div class="moto-widget-grid-gallery-items" data-moto-grid-gallery-options='{&quot;rowHeight&quot;:250,&quot;fixedHeight&quot;:false,&quot;margins&quot;:30,&quot;lastRow&quot;:&quot;justify&quot;,&quot;showCaptions&quot;:true,&quot;enableLightbox&quot;:true}'>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery1.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small1.jpg"
                  alt="mt-0346-home-gallery-small1.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery2.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small2.jpg"
                  alt="mt-0346-home-gallery-small2.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery3.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small3.jpg"
                  alt="mt-0346-home-gallery-small3.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery4.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small4.jpg"
                  alt="mt-0346-home-gallery-small4.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery5.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small5.jpg"
                  alt="mt-0346-home-gallery-small5.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery6.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small6.jpg"
                  alt="mt-0346-home-gallery-small6.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery7.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small7.jpg"
                  alt="mt-0346-home-gallery-small7.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
              <a href="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery8.jpg"
                class="moto-widget-grid-gallery-item">
                <img src="https://template58432.motopreview.com/mt-demo/58400/58432/mt-content/uploads/2016/02/mt-0346-home-gallery-small8.jpg"
                  alt="mt-0346-home-gallery-small8.jpg" class="moto-widget-grid-gallery-image">
                <div class="caption caption_text caption-empty">
                  <p></p>
                </div>
              </a>
            </div>
          </div>
          <div class="moto-widget moto-widget-spacer moto-preset-default                                  moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
            data-widget="spacer" data-preset="default" data-spacing="sasa">
            <div class="moto-widget-spacer-block" style="height: 10px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>